  　<div class="row">
    <% camp.camp_comments.each do |camp_comment| %>
    <div class="col-12 mb-3  pt-3 pb-3 border-bottom ">
    投稿ユーザー:<%= camp_comment.user.name %> / 投稿日:<%= camp_comment.created_at.strftime('%Y/%m/%d')%><br>
    <%= camp_comment.comment %>
    <div class = "text-right align-self-end" >
    <% if camp_comment.user == current_user %>
      <%= link_to "削除", camp_camp_comment_path(camp_comment.camp, camp_comment), method: :delete, remote: true ,class: "btn btn-sm btn-danger " %>
    <% end %>
    </div>
    </div>
    <% end %>
   </div>